.container {
  width: 99%;
  min-height: calc(100vh - 90px);
  margin-left: 5px;
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 2rem;
  text-align: center;
  border: 1px solid #b5b5b5;
}

.borderRight {
  border-right: 1px solid #ccc;
}

.scroll-none {
  scrollbar-width: none;
}

.grid-border-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 75px 75px 0 0;
  margin-left: 3px;
}

.grid-border-box-second {
  width: calc(50% - 14.5px);
  border: 1px solid #ccc;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  margin-left: 13px;
}

.add-button {
  width: 200px;
}

.search {
  width: 70%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.search-flex {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.table {
  width: 60%;
  margin-left: 0px;
}

.dialog-text-color {
  color: #4e4e4e;
}

.product-details {
  margin-bottom: 10px;
}

.product-details-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.product-description {
  width: 70%;
  margin-left: 15%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 10px;
  }

  .search {
    width: 80%;
  }

  .add-button {
    margin-right: -70px;
  }

  .add-button-second {
    margin-right: 0px;
  }

  .grid-border-box,
  .grid-border-box-second {
    width: 100%;
    margin-top: 20px;
    border-radius: 0;
  }

  .display-none {
    display: none;
  }

  .table {
    width: 100%;
    margin-left: 0;
  }
}